shamefully-hoist=true
node-linker=hoisted
confirm-install-modules-reinstall=false
auto-install-peers=false
strict-peer-dependencies=false
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*pino*
